body {
  font-family: sans-serif;
  background-color: gainsboro;
}

.add,
.back {
  color: #800000;
}

.add:hover,
.back:hover {
  color: #d85151;
}

.capitalize {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #800000;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #cfcdcd;
}

tr:nth-child(odd) {
  background-color: #ede9e9;
}

tr:hover {
  background-color: #d7aaaa;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #800000;
  color: white;
  text-align: center;
}

.notification {
  position: absolute;
  top: 6%;
  left: 85%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.center {
  text-align: center;
}

.success {
  background-color: #25d72b;
  color: white;
}

.hidden {
  opacity: 0;
  display: none;
}

input[type=text] {
  background-color: #fffefe;
  padding: 10px 100px 10px 5px;
  border-radius: 4px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #800000;
  color: #800000;
}

input[type=radio]#red {
  accent-color: #800000;
}

.save {
  padding: 10px 20px;
  color: #800000;
  border-radius: 4px;
  border: 3px solid #ccc;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  transition: all ease-out 0.3s;
}

.save:hover {
  background-color: #800000;
  color: #ccc;
}