body {
  font-family: sans-serif;
  background-color: gainsboro;
}

.capitalize {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #800000;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #cfcdcd;
}

tr:nth-child(odd) {
  background-color: #ede9e9;
}

tr:hover {
  background-color: #d7aaaa;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #800000;
  color: white;
}

.notification {
  display: block;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.success {
  background-color: #4CAF50;
  color: white;
}

.hidden {
  opacity: 0;
  display: none;
}